{% extends 'admin.html.twig' %}

{% block admin %}
    <div class="d-flex justify-content-between align-items-center">
        <h1>Medias</h1>
        <a href="{{ path('admin_media_add') }}" class="btn btn-primary">Ajouter</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Titre</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Artiste</th>
                    <th>Album</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for media in medias %}
                <tr>
                    <td><img src="{{ asset(media.path) }}" width="75" /></td>
                    <td>{{ media.title }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ media.user.name }}</td>
                        <td>{{ media.album.name ?? '' }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('admin_media_delete', {id: media.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% set totalPages = (total / 50)|round(0, 'ceil') %}

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('admin_media_index', {page: 1}) }}">Première page</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ path('admin_media_index', {page: page - 1}) }}">Précédent</a>
                </li>
            {% endif %}

            {% for i in range(max(1, page - 3), min(totalPages, page + 3)) %}
                <li class="page-item {% if i == page %}active{% endif %}">
                    <a class="page-link" href="{{ path('admin_media_index', {page: i}) }}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if page < totalPages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('admin_media_index', {page: page + 1}) }}">Suivant</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ path('admin_media_index', {page: totalPages}) }}">Dernière page</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}