{% extends 'front.html.twig' %}

{% block front %}
    <div class="row">
        <div class="col-12">
            <h3 class="mb-4">Portfolio</h3>
            <div class="mb-5 row">
                <div class="col-2">
                    <a class="btn w-100 py-3 {{ album is null ? 'active' }}" href="{{ path('portfolio') }}">
                        Toutes
                    </a>
                </div>
                {% for a in albums %}
                    <div class="col-2">
                        <a class="btn w-100 py-3 {{ album == a ? 'active' }}" href="{{ path('portfolio', {id: a.id}) }}">
                            {{ a.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for media in medias %}
                    <div class="col-4 media mb-4">
                        <img class="w-100" src="{{ asset(media.path) }}" alt="{{ media.title }}">
                        <p class="text-center mb-0 mt-2 media-title">{{ media.title }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

