{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-none d-md-block bg-dark sidebar min-vh-100 p-4">
                <div class="position-sticky">
                    <h1 class="text-white mb-2">Admin</h1>
                    <p class="text-white-50 d-flex justify-content-between mb-2 flex-wrap">
                        <small>{{ app.user.name }}</small>
                        <small><a class="text-decoration-none" href="{{ path('admin_logout') }}">Déconnexion</a></small>
                    </p>
                    <p class="text-center border border-secondary pb-1 pt-1"><a class="text-decoration-none" href="{{ path('home') }}">Voir le site</a></p>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_media_index') }}">
                                Medias
                            </a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_album_index') }}">
                                    Albums
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_guest_index') }}">
                                    Invités
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    {% for type, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">{{ message }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 p-4">
                {% block admin %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}